h1 {
  margin-left: 60px;
}
form li {
  list-style: none;
  margin-bottom: 5px;
}

form ul li label {
  float: left;
  clear: left;
  width: 150px;
  text-align: left;
  margin-right: 5px;
  font-family: Times New Roman sans-serif;
  font-size: 14px;
}

form ul li input,
select,
span {
  float: left;
  margin-bottom: 10px;
}

form textarea {
  float: left;
  width: 350px;
  height: 150px;
}

[type="submit"] {
  font-size: 17px;

  margin: 40px 20px;
  display: inline-block;
  width: 70px;
  height: 30px;
  text-align: center;
  border-color: black;
  background-color: #add8e6;
  color: black;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  font-family: Times New Roman sans-serif;
}

[type="reset"] {
  font-size: 17px;

  margin: 40px 20px;
  display: inline-block;
  width: 70px;
  height: 30px;
  text-align: center;
  border-color: black;
  color: black;
  cursor: pointer;
  font-weight: bold;
  border-radius: 1px;
  font-family: Times New Roman sans-serif;
  background-color: #ffcccc;
}

[name="cancel"] {
  background-color: #ffd9b3;
}
